<div class="container p-4 plant-popup">
  <div class="text-end close" (click)="close()"> <mat-icon>close</mat-icon></div>
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-4">
        <img alt="" title="" class="img-circle img-thumbnail isTooltip"
             [src]="data.img" alt="{{ data['plant-botanical-name'] }}"
             data-original-title="Information">
      </div>
      <div class="col-md-8">
        <strong class="inf-title">{{ data['plant-botanical-name'] }}</strong><br>
        <div class="table-responsive mt-4">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>
                  <strong>
                    Plant’s Botanical name:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data['plant-botanical-name'] }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Plant’s Family name:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data['plant-family-name'] }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Plant’s Common names:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data['plant-common-names'] }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Plant Parts used:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data['plant-parts-used'] }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Predominantly found in:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data.predominantly }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Product Offered:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data['product-offered'] }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    Uses:
                  </strong>
                </td>
                <td class="text-primary">
                  {{ data.uses }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
