<div class="container-fluid">
  <div class="row dashboard-banner-text">
    <div class="privacy-banner p-0">
      <div class="privacy-color">
        <p class="privacy-text text-end">Privacy Policy</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid memoglobin">
  <div class="container">
    <h1 class="about-us-heading">Privacy Policy </h1>
    <p class="about-us-parg">At ZIOLA RESEARCH, accessible from www.biospecimensolutions.in, one of our main priorities
      is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and
      recorded by ZIOLA RESEARCH and how we use it. </p>
    <p class="about-us-parg">
      If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact
      us
    </p>
    <p class="about-us-parg">
      This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to
      the information that they shared and/or collect in ZIOLA RESEARCH. This policy is not applicable to any
      information collected offline or via channels other than this website. Our Privacy Policy was created with the
      help of the Free Privacy Policy Generator. Consent </p>
    <p class="about-us-parg">
      By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
    <h1 class="about-us-heading">Information we collect </h1>
    <p class="about-us-parg">
      The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be
      made clear to you at the point we ask you to provide your personal information. </p>
    <p class="about-us-parg">
      If you contact us directly, we may receive additional information about you such as your name, email address,
      phone number, the contents of the message and/or attachments you may send us, and any other information you may
      choose to provide. </p>
    <p class="about-us-parg">
      When you register for an Account, we may ask for your contact information, including items such as name, company
      name, address, email address, and telephone number. </p>
    <h1 class="about-us-heading">How we use your information</h1>
    <p class="about-us-parg">
      We use the information we collect in various ways, including to: </p>
    <div class="down-text-r">
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Provide, operate, and maintain our website </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Improve, personalize, and expand our website </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Understand and analyze how you use our website </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Develop new products, services, features, and functionality </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Communicate with you, either directly or through one of our partners,
        including for customer service, to provide you with updates and other information relating to the website, and
        for marketing and promotional purposes </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Send you emails </p>
      <p class="about-check-text mt-2"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Find and prevent fraud </p>
    </div>
    <h1 class="about-us-heading">Log Files</h1>
    <p class="about-us-parg">ZIOLA RESEARCH follows a standard procedure of using log files. These files log visitors
      when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information
      collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP),
      date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any
      information that is personally identifiable. The purpose of the information is for analyzing trends, administering
      the site, tracking users' movement on the website, and gathering demographic information. </p>
    <h1 class="about-us-heading">Advertising Partners Privacy Policies </h1>
    <p class="about-us-parg">You may consult this list to find the Privacy Policy for each of the advertising partners
      of
      ZIOLA RESEARCH.
    </p>
    <p class="about-us-parg">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web
      Beacons that are used in their respective advertisements and links that appear on ZIOLA RESEARCH, which are sent
      directly to users' browser. They automatically receive your IP address when this occurs. These technologies are
      used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content
      that you see on websites that you visit.
    </p>
    <p class="about-us-parg">Note that ZIOLA RESEARCH has no access to or control over these cookies that are used by
      third-party advertisers.
    </p>
    <h1 class="about-us-heading">Third Party Privacy Policies </h1>
    <p class="about-us-parg">ZIOLA RESEARCH's Privacy Policy does not apply to other advertisers or websites. Thus, we
      are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed
      information. It may include their practices and instructions about how to opt-out of certain options.
    </p>
    <p class="about-us-parg">You can choose to disable cookies through your individual browser options. To know more
      detailed information about cookie management with specific web browsers, it can be found at the browsers'
      respective websites. </p>
    <h1 class="about-us-heading">CCPA Privacy Rights (Do Not Sell My Personal Information)</h1>
    <p class="about-us-parg">Under the CCPA, among other rights, California consumers have the right to:</p>
    <p class="about-us-parg">Request that a business that collects a consumer's personal data disclose the categories
      and specific pieces of personal data that a business has collected about consumers. </p>
    <p class="about-us-parg">Request that a business delete any personal data about the consumer that a business has
      collected. </p>
    <p class="about-us-parg">Request that a business that sells a consumer's personal data, not sell the consumer's
      personal data. </p>
    <p class="about-us-parg">If you make a request, we have one month to respond to you. If you would like to exercise
      any of these rights, please contact us. </p>
    <h1 class="about-us-heading">GDPR Data Protection Rights </h1>
    <p class="about-us-parg">We would like to make sure you are fully aware of all of your data protection rights. Every
      user is entitled to the following: </p>
    <p class="about-us-parg">The right to access – You have the right to request copies of your personal data. We may
      charge you a small fee for this service. </p>
    <p class="about-us-parg">The right to rectification – You have the right to request that we correct any information
      you believe is inaccurate. You also have the right to request that we complete the information you believe is
      incomplete. </p>
    <p class="about-us-parg">The right to erasure – You have the right to request that we erase your personal data,
      under certain conditions. </p>
    <p class="about-us-parg">The right to restrict processing – You have the right to request that we restrict the
      processing of your personal data, under certain conditions. </p>
    <p class="about-us-parg">The right to object to processing – You have the right to object to our processing of your
      personal data, under certain conditions. </p>
    <p class="about-us-parg">The right to data portability – You have the right to request that we transfer the data
      that we have collected to another organization, or directly to you, under certain conditions. </p>
    <p class="about-us-parg">If you make a request, we have one month to respond to you. If you would like to exercise
      any of these rights, please contact us. </p>
    <h1 class="about-us-heading">Children's Information </h1>
    <p class="about-us-parg">Another part of our priority is adding protection for children while using the internet. We
      encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity. </p>
    <p class="about-us-parg mb-5">ZIOLA RESEARCH does not knowingly collect any Personal Identifiable Information from
      children under the age of 13. If you think that your child provided this kind of information on our website, we
      strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such
      information from our records. </p>
  </div>
</div>

<!-- <div class="container-fluid memoglobin">
  <div class="container">
    <h1 class="about-us-heading">Memoglobin test process</h1>
    <p class="about-us-parg">Must explain to you how all this mistaken idea of denouncing works pleasure and
      praising uts pain was born and | will gives you a itself completed account of the system, and sed |
      pounds the ut actual teachings of that greater sed explores truth, Denouncing works plaasures and praising
      pains was us born and wil gives you a complated ut workers accounts
      the system. sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt.</p>
    <p class="about-us-parg">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit ame, consectetur, adipisci velit, sed quia non
      numauam eis modi tempora incidunt ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exerctationer.
    </p>
    <div class="down-text-r">
      <p class="about-check-text mt-5"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Consectetur, adipisci velit, sed quia non numauam sius modi
      </p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremguen</p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Utenim ad minima veniam, quis nostrum exercitationem |</p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
        amet</p>
    </div>
    <h1 class="about-us-heading">4 Simple Steps</h1>
    <p class="about-us-parg ">
      Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremaque laudantium, totam rem
      aperiam, eaque psa quas ab ilo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo,. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porto quisquam est, qui dolorem ipsum quia dolor sit amet,
    </p>
    <p class="about-us-parg ">
      Must explain to you how allthis mistaken idea of denouncing works pleasure and praising uts pain was born
      and 1 will gives you a itself completed account of the system, and sed
      expounds the ut actual teachings ofthat greater sed explores ruth. Denouncing works pleasures and praising
      pains was us born and will ives you a completed ut workers accounts
      of the system. sit aspernatur aut odiit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt.
    </p>
    <p class="about-us-parg ">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
      quasrat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.
    </p> -->
    <!-- check section -->
    <!-- <div class="row mt-4">
      <div class="col-md-4">
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
      <div class="col-md-4">
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
      <div class="col-md-4">
        <p class="about-check-text "><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text "><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
    </div>
    <h1 class="about-us-heading">Our Research</h1>
    <p class="about-us-parg ">
      Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremaque laudantium, totam rem
      aperiam, eaque psa quas ab ilo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo,. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porto quisquam est, qui dolorem ipsum quia dolor sit amet,
    </p> -->
    <!-- card image section -->
    <!-- <div class="row mb-4">
      <div class="col-md-6">
        <img src="../../assets/side-view-woman-experiment-sprout (-1.jpg" alt="">
      </div>
      <div class="col-md-6 image-section-2">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/close-up-scientist-watching-plant.jpg" alt="">
          </div>
          <div class="col-md-6">
            <img src="../../assets/chemical-laboratory-during-test-pesticides-1.jpg" alt="">
          </div>
          <div class="col-md-6">
            <img
              src="../../assets/botanist-researcher-woman-examining-green-sapling-observing-genetic-mutation-analyzing-organic-plants-agriculture-experiment-chemist-working-biological-pharmaceutical-laboratory-1.jpg"
              alt="">
          </div>
          <div class="col-md-6">
            <img
              src="../../assets/female-scientist-typing-her-computer-data-from-last-scientific-tests-chemistry-lab.jpg"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->